/* Card */
.header-container {
  position: sticky;
  display: flex;
  /* Sử dụng Flexbox */
  flex-direction: column;
  /* Sắp xếp các phần tử con theo chiều dọc */
}

.site-animation {
  display: flex;
  /* Sử dụng Flexbox */
  align-items: center;
  /* Căn theo chiều dọc */
  padding-left: 50px;
  padding-right: -1px;
  padding-top: 20px;
}

.green-month {
  font-family: "Arial", sans-serif !important;
  font-size: 1.5rem;
  color: #000000;
  line-height: 1.1;
  padding-left: 330px;
}

.see-more a {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #ef683a;
  cursor: pointer;
  white-space: nowrap;
  padding-left: 830px;
  text-decoration: none;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  /* Các thẻ con sẽ tự động xuống hàng khi không còn đủ không gian */
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  /* Giới hạn chiều rộng tối đa của cards-container */
  margin: 0 auto;
  /* Đưa cards-container vào giữa */
}

.card {
  width: 270px;
  /* Giảm chiều rộng của thẻ */
  height: 450px;
  /* Giảm chiều cao của thẻ */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 20px 10px;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 300px;
  /* Đặt chiều cao của hình ảnh */
  object-fit: cover;
}

.card-content {
  padding: 20px;
  position: relative;
  margin-top: -20px; /*Chỉnh ở đây 5/4/2024*/
  
}

.card-title {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
  flex: 1;
  height: 40px; /*Chỉnh ở đây 5/4/2024*/
  /* Phần title sẽ mở rộng và chiếm hết phần còn lại */
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f94c43;
  justify-content: center;
  position: absolute;
  left: 20px;
  height: 40px; /*Chỉnh ở đây 5/4/2024*/
}

.card-discount {
  position: absolute;
  right: 20px;
  margin-top: 25px;
  text-decoration: line-through;
}