/*Header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0;
    /* overflow: hidden; */
    padding-bottom: 5px;
    /*Thay đổi chiều cao thanh ngang dưới cùng header*/
    /* New addition */
}

.header__title {
    font-family: Arial, sans-serif;
    background-color: #27678f;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    color: #ffffff;
    margin-top: -20px;
    font-weight: 400;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    /* New addition */
    margin-bottom: 50px;
    white-space: nowrap;
}

.header__logo img {
    max-width: 100%;
    margin-right: 100px; /* Điều chỉnh khoảng cách giữa logo và thanh search */
    padding-top: 15px;
    max-height: 50px;
}

.header__nav {
    font-family: "Arial", sans-serif !important;
    width: 100%;
    order: 1;
    /* Đặt phần menu ở vị trí đầu tiên */
    position: absolute;
    /* New addition */
    bottom: 0;
    /* New addition */
    padding: 30px 0px;
    margin: -70px 0px;
    white-space: nowrap;
    /* Ngăn chữ trong phần menu bị xuống dòng */
}

.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__nav ul li {
    margin-right: 40px;
}

.header__nav ul li:last-child {
    margin-right: 0;
}

.header__nav ul li a {
    text-decoration: none;
    color: #333;
    
}

.header__account {
    float: right;
    margin-left: 50px;
    order: 3;
    /* Đặt phần đăng ký, đăng nhập ở vị trí thứ ba */
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.header__account .spacer {
    margin-right: 30px; /* Adjust the margin as needed */
}

.header__account a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    white-space: nowrap;
}

.header__cart {
    order: 4;
    margin-left: 80px;
    margin-top: 20px;
}

.header__cart a{
    color: #333;
    font-size: 30px;
}

.header__top {
    background-color: #27678f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.dropdown {
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* width: 100%; Hiển thị full width */
    /* left: 0; */
    /* top: 100%; Hiển thị bên dưới mục cha */
    /* z-index: 2; */
    max-width: 300px; /* Điều chỉnh chiều rộng tối đa của dropdown content */
    min-width: 160px;
    z-index: 1; /* Đảm bảo dropdown content hiển thị trên cùng */
    /* Các thuộc tính dưới đây sẽ làm cho dropdown có thể tràn ra ngoài header */
    top: auto;
    left: 0;
    right: auto;
    bottom: auto;
    /*margin-top: 10px;*/ /* Khoảng cách giữa dropdown và liên kết cha */
    margin-bottom: 0;
    padding: 12px 16px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: block; /* Đảm bảo thẻ <a> sử dụng toàn bộ chiều ngang của phần tử cha */
    padding: 5px 0; /* Tạo khoảng cách trên và dưới cho mỗi thẻ */
    border-bottom: 1px solid #ccc; /* Tạo đường viền dưới */
    padding-bottom: 10px; /* Tạo khoảng cách dưới mỗi thẻ */
    margin-bottom: 10px; /* Khoảng cách giữa các thẻ */
    width: 100%; /* Mở rộng chiều rộng của thẻ <a> */
  }
  
  .dropdown-content a:last-child {
    border-bottom: none; /* Loại bỏ đường viền dưới của thẻ cuối cùng */
    margin-bottom: 0; /* Không có khoảng cách dưới thẻ cuối cùng */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-icon {
    position: absolute;
    margin-top: 3px;
    display: inline-block; /* Đảm bảo dropdown icon không tràn ra ngoài liên kết */
    vertical-align: middle; /* Canh chỉnh theo chiều dọc */
    margin-left: 5px; /* Khoảng cách giữa icon và văn bản */
  }
  
  .header-search {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .search-box {
    position: relative;
    margin-top: 15px;
  }
  
  .input-search {
    padding: 8px;
    border: 1px solid #ccc;
    width: 400px;
    font-size: 14px;
    height: 30px;
    border-radius: 4px 0 0 4px;
  }
  
  .btn-search {
    background-color: #434343;
    color: #fff;
    border: none;
    padding: 16px 17px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
  }
  
  .empty-search-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }


  